// Colors
$main-color: #f36b21;
$text-color: #7a7a7a;
$heading-color: #121212;
$nav-color: #121212;
$bg-light: #f7f9fa;
$bg-dark: #171919;
$border-color: #e6ebed;


// Fonts
$body-font: 'Source Sans Pro', sans-serif;
$heading-font: 'Montserrat', sans-serif;
$alt-font: 'Playfair Display', serif;


// Navbar
$nav-full-height: 100px;
$nav-short-height: 60px;